
    h2{
        color: red ;
       
    }
    img{
        width:300px
    }
    .unordered ul{
        background-color: aqua;
    }

    p,ul,ol,h2,li,div{
        text-align: center;
        list-style-position: inside;
        
    }