body {
    color: #ffffff;               /* Dark gray */
    background-color: #058686;    /* Light gray */
    font-size: 18px;
  }
  
  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.6em;
  }
  